<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.kit.cordova.amaplocation"
        version="2.0.0">
  <name>LocationPlugin</name>
  <description>Cordova Location Plugin Powerd by KIT</description>
  <author email="yanxiaojun617@163.com" href="https://gzkit.com.cn">
    yanxiaojun
  </author>
  <license>Apache 2.0</license>
  <keywords>cordova,location</keywords>

  <js-module src="www/location.js" name="LocationPlugin">
    <clobbers target="LocationPlugin"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LocationPlugin">
        <param name="android-package" value="com.kit.cordova.AMapLocation.LocationPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <!-- 这个权限用于进行网络定位-->
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <!-- 这个权限用于访问GPS定位-->
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
      <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
      <!-- 用于读取手机当前的状态-->
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
      <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <!-- 访问网络，网络定位需要上网-->
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
      <!-- 允许应用读取低级别的系统日志文件 -->
      <uses-permission android:name="android.permission.READ_LOGS"/>
      <!--修改当前配置-->
      <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
      <!--拨打电话的权限，该权限并非该插件所需，只是为了方便App调用电话-->
      <uses-permission android:name="android.permission.CALL_PHONE"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <!--您申请的高德地图android key更多详情请看http://www.jianshu.com/p/85aceaee3b35-->
      <meta-data android:name="com.amap.api.v2.apikey" android:value="d2bf7fc2e51f6fd2e13038b9a8346f40"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <!-- 定位需要的服务 -->
      <service android:name="com.amap.api.location.APSService"></service>
    </config-file>

    <source-file src="src/android/AMap_Location_V2.6.0_20160628.jar" target-dir="libs"/>
    <source-file src="src/android/LocationPlugin.java" target-dir="src/com/kit/cordova/AMapLocation"/>
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="LocationPlugin">
        <param name="ios-package" value="LocationPlugin"/>
      </feature>
    </config-file>
    <config-file target="*/*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>location</string>
      </array>
    </config-file>
    <config-file target="*/*-Info.plist" parent="NSLocationAlwaysUsageDescription">
      <string>为了确保您可以正确使用本应用，请选择允许</string>
    </config-file>
    <source-file src="src/ios/LocationPlugin.m"/>
  </platform>
</plugin>
